@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Signika&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Signika', sans-serif;
 }

 sup{
  color: red;
 }

 pre {
  white-space: pre-wrap;
}

 